
  /* LoginPage.css and SignupPage.css */

.login-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/98eb09406e4537d1087bfea99bd5db79.jpg') no-repeat center center;
  background-size: cover;
}

.login-page {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
}

.login-page h1{
  margin-bottom: 1rem;
}

.login-page p{
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: teal;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

/* Light mode styles */
/* .login-page.light{
  background: url('/background-image-light.jpg') no-repeat center center;
  background-size: cover;
} */

.login-page.light{
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

button.light {
  background-color: gray;
  color: black;
}
