/* src/App.css */
.App {
  text-align: center;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

.App-header {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
